In [1]:
import pandas as pd

hist_data = pd.read_csv('../datasets/hist_data.csv.gz')
test_data = pd.read_csv('../datasets/test.csv.gz')

In [2]:
hist_data.shape

(4529889, 8)

### Prepare Submission File

In [ ]:
from models.hmodel import HModel

model = HModel(top_n = 5, seed = 32)
model.train(hist_data)

In [3]:
model.shash

Series([], Name: sid_left, dtype: float64)

In [7]:
hist_data

,Unnamed: 0,buyer_id,pav_order_id,created,item_id,count,price_sold,flag_weight_goods,weight,sid
0,918576,95583608,98509324445,2021-07-13 09:35:56,204042192,1.000,21.890,False,6.12,16
1,2904947,95587450,98514604482,2021-08-08 18:08:27,211089569,2.000,12.890,False,21.56,1
2,665317,95335936,98508612209,2021-07-09 18:23:34,202807098,1.000,167.690,False,12.60,26
3,1150842,95261464,98509973588,2021-07-16 10:40:28,202818687,1.000,59.990,False,10.78,31
4,4229744,95636723,98518566879,2021-08-27 21:03:12,203549853,1.037,396.228,True,16.25,29
...,...,...,...,...,...,...,...,...,...,...
9995,578819,94910770,98508380326,2021-07-08 17:56:09,203430170,2.000,59.890,False,12.21,26
9996,1780180,95875115,98511689398,2021-07-24 14:30:48,203438161,0.500,70.295,True,12.04,17
9997,327017,94715660,98507619586,2021-07-05 10:31:45,203266933,1.000,69.990,False,8.32,21
9998,1414160,94725064,98510706078,2021-07-19 17:27:55,202820144,1.000,24.995,True,5.82,16
9999,1889113,94617364,98511979007,2021-07-26 07:14:14,203474000,1.000,79.990,False,17.15,16

In [3]:
test = model.predict(test_data)
test['preds'].to_csv('pred.csv')

### Test Model on Holdout

#### Prepare Splits

In [4]:

from models.core import split_data
from models.baseline import BaselineModel


# разобьем историю в отношении 70 на 30 для трейна и валидации
train_data, test_data, orders_sort, train_orders, test_orders = split_data(hist_data)

#### Play with top_n hyperparameter of baseline model

In [5]:
model = BaselineModel(top_n = 10)
model.train(train_data)
model.quality(test_data)

0.34481132996828945

In [6]:
model = BaselineModel(top_n = 15)
model.train(train_data)
model.quality(test_data)

0.3146923962889297

In [7]:
model = BaselineModel(top_n = 5)
model.train(train_data)
model.quality(test_data)

0.39452886611806376